@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway&family=Spinnaker&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Spinnaker", sans-serif;
}

body {
  background-color: rgb(18, 26, 29);
}

/* ---------------- Navbar and burger menu ------------------ */
nav {
  height: 2.5em;
  padding: 0.5em;
}

.burger-menu {
  height: 100%;
  width: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}

.burger-bar {
  width: 2em;
  height: 0.25em;
  background-color: rgb(248, 248, 248);
  border-radius: 0.25em;
}

.menu {
  display: flex;
  position: relative;
  left: 0;
  flex-direction: column;
  max-width: 150px;
  transition: 250ms;
}

/* ------------- sliding menu ------------- */
.hidden {
  display: none;
}

.visible {
  display: inherit;
  animation: 1s fade-in;
}

.text-animate-type {
  font-size: 1.6em;
  border-right: 5px solid white;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1s steps(19), curs 0.4s step-end infinite alternate;
}

/* ------------- animations ------------- */
/* clicked */
.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.375em, 0.625em);
  transition: ease-out 0.3s;
}

.burger-bar.clicked:nth-child(2) {
  transform: scale(0.1);
  transition: ease-out 0.3s;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(-0.25em, 0.5em);
  transition: ease-out 0.3s;
}

/* unclicked */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

/* ------------- Others ------------- */
#Tech img {
  transition: 500ms;
}

#Tech img:hover {
  transform: scale(1.15);
}

li {
  padding: 0.2em;
  transition: 250ms;
}

li:hover {
  transform: scale(1.1);
}

.fade-in {
  animation: 1s fade-in ease-in;
}

.fade-in-long {
  animation: 3s fade-in ease-in;
}

.slide-in-right {
  animation: 1s slide-in-right ease-out;
}

.slide-in-left {
  animation: 1s slide-in-left ease-out;
}

.slide-in-bottom {
  animation: 1.5s slide-in-bottom ease-out;
}

.slide-in-top {
  animation: 1.5s slide-in-top ease-out;
}

.card-text {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto-fill;
  gap: 4px;
}

.links {
  display: flex;
  flex-grow: 0;
  justify-content: flex-end;
  align-items: flex-end;
  grid-row: 2/3;
  gap: 6px;
}

.card-text h3 {
  grid-row: 1/2;
  grid-column: 1/2;
}

.card-text p {
  grid-row: 2/4;
  grid-column: 1/2;
  max-width: 30ch;
}

.card-text a {
  grid-column: 2/3;
}

.bio {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3cpath d='M1568.41 465.6C1452.49 465.4 1339.22 395.6 1110.03 395.6 880.85 395.6 905.12 476.46 651.66 465.6 398.19 454.74 357.47 6.51 193.28-39.56' stroke='rgba(3%2c 54%2c 108%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1662.13 139.22C1514.48 147.36 1402.59 413.96 1138.12 413.62 873.64 413.28 779.97 19.57 614.1-5.07' stroke='rgba(3%2c 54%2c 108%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1574.4 291.25C1455.85 291.06 1339.91 221.25 1105.41 221.25 870.92 221.25 880.61 293.99 636.43 291.25 392.25 288.51 311.57-33.75 167.44-51.34' stroke='rgba(3%2c 54%2c 108%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1628.24 373.41C1457.46 370.93 1242.19 174.6 977.22 166.21 712.25 157.82 747.66-31.49 651.71-39.92' stroke='rgba(3%2c 54%2c 108%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1492.03 84.58C1364.68 87.8 1256.94 269.71 1017.17 269.38 777.4 269.05 684.53-34.78 542.31-49.07' stroke='rgba(3%2c 54%2c 108%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
}

.tech-lines {
  background-size: contain;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='1000' preserveAspectRatio='none' viewBox='0 0 1440 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2874%26quot%3b)' fill='none'%3e%3cpath d='M44.5 113.14L83.47 135.64L83.47 180.64L44.5 203.14L5.53 180.64L5.53 135.64zM83.47 180.64L122.44 203.14L122.44 248.14L83.47 270.64L44.5 248.14L44.5 203.14zM44.5 383.14L83.47 405.64L83.47 450.64L44.5 473.14L5.53 450.64L5.53 405.64zM44.5 653.14L83.47 675.64L83.47 720.64L44.5 743.14L5.53 720.64L5.53 675.64zM161.42 180.64L200.39 203.14L200.39 248.14L161.42 270.64L122.44 248.14L122.44 203.14zM122.44 248.14L161.42 270.64L161.42 315.64L122.44 338.14L83.47 315.64L83.47 270.64zM161.42 315.64L200.39 338.14L200.39 383.14L161.42 405.64L122.44 383.14L122.44 338.14zM161.42 450.64L200.39 473.14L200.39 518.14L161.42 540.64L122.44 518.14L122.44 473.14zM122.44 653.14L161.42 675.64L161.42 720.64L122.44 743.14L83.47 720.64L83.47 675.64zM122.44 788.14L161.42 810.64L161.42 855.64L122.44 878.14L83.47 855.64L83.47 810.64zM161.42 855.64L200.39 878.14L200.39 923.14L161.42 945.64L122.44 923.14L122.44 878.14zM122.44 923.14L161.42 945.64L161.42 990.64L122.44 1013.14L83.47 990.64L83.47 945.64zM161.42 990.64L200.39 1013.14L200.39 1058.14L161.42 1080.64L122.44 1058.14L122.44 1013.14zM239.36 180.64L278.33 203.14L278.33 248.14L239.36 270.64L200.39 248.14L200.39 203.14zM200.39 518.14L239.36 540.64L239.36 585.64L200.39 608.14L161.42 585.64L161.42 540.64zM239.36 855.64L278.33 878.14L278.33 923.14L239.36 945.64L200.39 923.14L200.39 878.14zM278.33 -21.86L317.31 0.64L317.31 45.64L278.33 68.14L239.36 45.64L239.36 0.64zM317.31 45.64L356.28 68.14L356.28 113.14L317.31 135.64L278.33 113.14L278.33 68.14zM356.28 248.14L395.25 270.64L395.25 315.64L356.28 338.14L317.31 315.64L317.31 270.64zM395.25 315.64L434.22 338.14L434.22 383.14L395.25 405.64L356.28 383.14L356.28 338.14zM356.28 518.14L395.25 540.64L395.25 585.64L356.28 608.14L317.31 585.64L317.31 540.64zM395.25 855.64L434.22 878.14L434.22 923.14L395.25 945.64L356.28 923.14L356.28 878.14zM395.25 990.64L434.22 1013.14L434.22 1058.14L395.25 1080.64L356.28 1058.14L356.28 1013.14zM473.19 45.64L512.17 68.14L512.17 113.14L473.19 135.64L434.22 113.14L434.22 68.14zM434.22 113.14L473.19 135.64L473.19 180.64L434.22 203.14L395.25 180.64L395.25 135.64zM473.19 180.64L512.17 203.14L512.17 248.14L473.19 270.64L434.22 248.14L434.22 203.14zM473.19 315.64L512.17 338.14L512.17 383.14L473.19 405.64L434.22 383.14L434.22 338.14zM434.22 383.14L473.19 405.64L473.19 450.64L434.22 473.14L395.25 450.64L395.25 405.64zM434.22 518.14L473.19 540.64L473.19 585.64L434.22 608.14L395.25 585.64L395.25 540.64zM473.19 720.64L512.17 743.14L512.17 788.14L473.19 810.64L434.22 788.14L434.22 743.14zM512.17 518.14L551.14 540.64L551.14 585.64L512.17 608.14L473.19 585.64L473.19 540.64zM551.14 990.64L590.11 1013.14L590.11 1058.14L551.14 1080.64L512.17 1058.14L512.17 1013.14zM629.08 45.64L668.06 68.14L668.06 113.14L629.08 135.64L590.11 113.14L590.11 68.14zM629.08 585.64L668.06 608.14L668.06 653.14L629.08 675.64L590.11 653.14L590.11 608.14zM590.11 653.14L629.08 675.64L629.08 720.64L590.11 743.14L551.14 720.64L551.14 675.64zM590.11 788.14L629.08 810.64L629.08 855.64L590.11 878.14L551.14 855.64L551.14 810.64zM629.08 855.64L668.06 878.14L668.06 923.14L629.08 945.64L590.11 923.14L590.11 878.14zM590.11 923.14L629.08 945.64L629.08 990.64L590.11 1013.14L551.14 990.64L551.14 945.64zM668.06 -21.86L707.03 0.64L707.03 45.64L668.06 68.14L629.08 45.64L629.08 0.64zM707.03 180.64L746 203.14L746 248.14L707.03 270.64L668.06 248.14L668.06 203.14zM707.03 990.64L746 1013.14L746 1058.14L707.03 1080.64L668.06 1058.14L668.06 1013.14zM746 248.14L784.97 270.64L784.97 315.64L746 338.14L707.03 315.64L707.03 270.64zM746 923.14L784.97 945.64L784.97 990.64L746 1013.14L707.03 990.64L707.03 945.64zM862.92 45.64L901.89 68.14L901.89 113.14L862.92 135.64L823.95 113.14L823.95 68.14zM823.95 383.14L862.92 405.64L862.92 450.64L823.95 473.14L784.97 450.64L784.97 405.64zM823.95 518.14L862.92 540.64L862.92 585.64L823.95 608.14L784.97 585.64L784.97 540.64zM823.95 653.14L862.92 675.64L862.92 720.64L823.95 743.14L784.97 720.64L784.97 675.64zM823.95 788.14L862.92 810.64L862.92 855.64L823.95 878.14L784.97 855.64L784.97 810.64zM940.86 45.64L979.83 68.14L979.83 113.14L940.86 135.64L901.89 113.14L901.89 68.14zM901.89 113.14L940.86 135.64L940.86 180.64L901.89 203.14L862.92 180.64L862.92 135.64zM901.89 248.14L940.86 270.64L940.86 315.64L901.89 338.14L862.92 315.64L862.92 270.64zM940.86 315.64L979.83 338.14L979.83 383.14L940.86 405.64L901.89 383.14L901.89 338.14zM940.86 585.64L979.83 608.14L979.83 653.14L940.86 675.64L901.89 653.14L901.89 608.14zM901.89 653.14L940.86 675.64L940.86 720.64L901.89 743.14L862.92 720.64L862.92 675.64zM901.89 788.14L940.86 810.64L940.86 855.64L901.89 878.14L862.92 855.64L862.92 810.64zM940.86 990.64L979.83 1013.14L979.83 1058.14L940.86 1080.64L901.89 1058.14L901.89 1013.14zM979.83 113.14L1018.81 135.64L1018.81 180.64L979.83 203.14L940.86 180.64L940.86 135.64zM979.83 383.14L1018.81 405.64L1018.81 450.64L979.83 473.14L940.86 450.64L940.86 405.64zM1018.81 450.64L1057.78 473.14L1057.78 518.14L1018.81 540.64L979.83 518.14L979.83 473.14zM979.83 518.14L1018.81 540.64L1018.81 585.64L979.83 608.14L940.86 585.64L940.86 540.64zM979.83 653.14L1018.81 675.64L1018.81 720.64L979.83 743.14L940.86 720.64L940.86 675.64zM1018.81 720.64L1057.78 743.14L1057.78 788.14L1018.81 810.64L979.83 788.14L979.83 743.14zM979.83 923.14L1018.81 945.64L1018.81 990.64L979.83 1013.14L940.86 990.64L940.86 945.64zM1096.75 315.64L1135.72 338.14L1135.72 383.14L1096.75 405.64L1057.78 383.14L1057.78 338.14zM1096.75 450.64L1135.72 473.14L1135.72 518.14L1096.75 540.64L1057.78 518.14L1057.78 473.14zM1057.78 788.14L1096.75 810.64L1096.75 855.64L1057.78 878.14L1018.81 855.64L1018.81 810.64zM1096.75 855.64L1135.72 878.14L1135.72 923.14L1096.75 945.64L1057.78 923.14L1057.78 878.14zM1096.75 990.64L1135.72 1013.14L1135.72 1058.14L1096.75 1080.64L1057.78 1058.14L1057.78 1013.14zM1135.72 248.14L1174.7 270.64L1174.7 315.64L1135.72 338.14L1096.75 315.64L1096.75 270.64zM1135.72 653.14L1174.7 675.64L1174.7 720.64L1135.72 743.14L1096.75 720.64L1096.75 675.64zM1135.72 923.14L1174.7 945.64L1174.7 990.64L1135.72 1013.14L1096.75 990.64L1096.75 945.64zM1174.7 990.64L1213.67 1013.14L1213.67 1058.14L1174.7 1080.64L1135.72 1058.14L1135.72 1013.14zM1252.64 180.64L1291.61 203.14L1291.61 248.14L1252.64 270.64L1213.67 248.14L1213.67 203.14zM1213.67 923.14L1252.64 945.64L1252.64 990.64L1213.67 1013.14L1174.7 990.64L1174.7 945.64zM1291.61 -21.86L1330.58 0.64L1330.58 45.64L1291.61 68.14L1252.64 45.64L1252.64 0.64zM1291.61 383.14L1330.58 405.64L1330.58 450.64L1291.61 473.14L1252.64 450.64L1252.64 405.64zM1330.58 450.64L1369.56 473.14L1369.56 518.14L1330.58 540.64L1291.61 518.14L1291.61 473.14zM1291.61 518.14L1330.58 540.64L1330.58 585.64L1291.61 608.14L1252.64 585.64L1252.64 540.64zM1291.61 653.14L1330.58 675.64L1330.58 720.64L1291.61 743.14L1252.64 720.64L1252.64 675.64zM1330.58 720.64L1369.56 743.14L1369.56 788.14L1330.58 810.64L1291.61 788.14L1291.61 743.14zM1369.56 -21.86L1408.53 0.64L1408.53 45.64L1369.56 68.14L1330.58 45.64L1330.58 0.64zM1369.56 113.14L1408.53 135.64L1408.53 180.64L1369.56 203.14L1330.58 180.64L1330.58 135.64zM1408.53 315.64L1447.5 338.14L1447.5 383.14L1408.53 405.64L1369.56 383.14L1369.56 338.14zM1369.56 788.14L1408.53 810.64L1408.53 855.64L1369.56 878.14L1330.58 855.64L1330.58 810.64zM1447.5 -21.86L1486.47 0.64L1486.47 45.64L1447.5 68.14L1408.53 45.64L1408.53 0.64zM1447.5 248.14L1486.47 270.64L1486.47 315.64L1447.5 338.14L1408.53 315.64L1408.53 270.64zM1486.47 315.64L1525.45 338.14L1525.45 383.14L1486.47 405.64L1447.5 383.14L1447.5 338.14zM1447.5 383.14L1486.47 405.64L1486.47 450.64L1447.5 473.14L1408.53 450.64L1408.53 405.64zM1486.47 450.64L1525.45 473.14L1525.45 518.14L1486.47 540.64L1447.5 518.14L1447.5 473.14zM1447.5 788.14L1486.47 810.64L1486.47 855.64L1447.5 878.14L1408.53 855.64L1408.53 810.64z' stroke='url(%26quot%3b%23SvgjsLinearGradient2875%26quot%3b)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2874'%3e%3crect width='1440' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='720' y1='1000' x2='720' y2='0' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2875'%3e%3cstop stop-color='rgba(14%2c 42%2c 71%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 111%2c 255%2c 0.4)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 111%2c 255%2c 0.12)' offset='0.67'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 111%2c 255%2c 0)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.card {
  margin: 16px;
}

.icon {
  max-width: 30px;
}

.socials img {
  transition: 250ms;
}
.socials img:hover {
  transform: scale(1.2);
}

@keyframes hide-text {
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-in-bottom {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes slide-in-top {
  from {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes curs {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@media screen and (min-width: 600px) {
  .text-animate-type {
    font-size: 3rem;
    line-height: 1;
  }

  .portfolio {
    margin-inline: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .portfolio img {
    width: 1000px;
  }

  #Photos {
    margin-inline: 10%;
  }

  #Tech img {
    width: 100px;
  }

  #Tech h3 {
    font-size: 1.4rem;
    margin-bottom: 10%;
  }

  #Photos {
    grid-template-columns: 1fr 1fr;
  }
}
