@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway&family=Spinnaker&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Spinnaker", sans-serif;
}

body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1920' height='927' preserveAspectRatio='xMidYMid' viewBox='0 0 1920 927' style='z-index:1;margin-right:-2px;display:block;background-color:rgb(241, 242, 243);' %3E%3Cg transform='translate(960,463.5) scale(1,1) translate(-960,-463.5)' style='transform:matrix(1, 0, 0, 1, 0, 0);' %3E%3ClinearGradient id='ldbk-ynhhezt3hqc' x1='-0.1' y1='0' x2='1.1' y2='-0.6399999856948853'%3E%3Cstop stop-color='%23191d3a' offset='0' %3E%3C/stop%3E%3Cstop stop-color='%233b4368' offset='1' %3E%3C/stop%3E%3C/linearGradient%3E%3Crect x='0' y='0' width='1920' height='927' fill='url(%23ldbk-ynhhezt3hqc)' %3E%3C/rect%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
}

/* ---------------- Navbar and burger menu ------------------ */
nav {
  height: 2.5em;
  padding: 0.5em;
}

.burger-menu {
  height: 100%;
  width: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}

.burger-bar {
  width: 2em;
  height: 0.25em;
  background-color: rgb(248, 248, 248);
  border-radius: 0.25em;
}

.menu {
  display: flex;
  position: relative;
  left: 0;
  flex-direction: column;
  max-width: 150px;
  transition: 250ms;
}

/* ------------- sliding menu ------------- */
.hidden {
  display: none;
}

.visible {
  display: inherit;
  animation: 1s fade-in;
}

.text-animate-type {
  font-size: 1.6em;
  border-right: 5px solid white;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1s steps(19), curs 0.4s step-end infinite alternate;
}

/* ------------- animations ------------- */
/* clicked */
.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.375em, 0.625em);
  transition: ease-out 0.3s;
}

.burger-bar.clicked:nth-child(2) {
  transform: scale(0.1);
  transition: ease-out 0.3s;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(-0.25em, 0.5em);
  transition: ease-out 0.3s;
}

/* unclicked */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

/* ------------- Others ------------- */
#Tech img {
  transition: 500ms;
}

#Tech img:hover {
  transform: scale(1.15);
}

li {
  padding: 0.2em;
  transition: 250ms;
}

li:hover {
  transform: scale(1.1);
}

.fade-in {
  animation: 1s fade-in ease-in;
}

.fade-in-long {
  animation: 3s fade-in ease-in;
}

.slide-in-right {
  animation: 1s slide-in-right ease-out;
}

.slide-in-left {
  animation: 1s slide-in-left ease-out;
}

.slide-in-bottom {
  animation: 1.5s slide-in-bottom ease-out;
}

.slide-in-top {
  animation: 1.5s slide-in-top ease-out;
}

.card-text {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto-fill;
  gap: 4px;
}

.links {
  display: flex;
  flex-grow: 0;
  justify-content: flex-end;
  align-items: flex-end;
  grid-row: 2/3;
  gap: 6px;
}

.card-text h3 {
  grid-row: 1/2;
  grid-column: 1/2;
}

.card-text p {
  grid-row: 2/4;
  grid-column: 1/2;
  max-width: 30ch;
}

.card-text a {
  grid-column: 2/3;
}

.bio {
  background-size: cover;
}

.tech-lines {
  background-size: contain;
}

.card {
  margin: 16px;
}

.icon {
  max-width: 30px;
}

.socials img {
  transition: 250ms;
}
.socials img:hover {
  transform: scale(1.2);
}

@keyframes hide-text {
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-in-bottom {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes slide-in-top {
  from {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes curs {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@media screen and (min-width: 600px) {
  .text-animate-type {
    font-size: 3rem;
    line-height: 1;
  }

  .portfolio {
    margin-inline: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .portfolio img {
    width: 1000px;
  }

  #Photos {
    margin-inline: 10%;
  }

  #Tech img {
    width: 100px;
  }

  #Tech h3 {
    font-size: 1.4rem;
    margin-bottom: 10%;
  }

  #Photos {
    grid-template-columns: 1fr 1fr;
  }
}
